<div class="container">
    <h4>Lista de Resources</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Ano</th>
                <th scope="col">Color</th>
                <th scope="col">Pantone</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of dataResource">
                <th scope="row">{{ data.id }}</th>
                <td>{{ data.name }}</td>
                <td>{{ data.year }}</td>
                <td>{{ data.color }}</td>
                <td>{{ data.pantone_value }}</td>
                <td><button type="button" class="btn btn-primary">Detalhes</button></td>
            </tr>
            <nav aria-label="Navegação de página exemplo">
                <ul class="pagination">
                    <li (click)="isFirstPage()" class="page-item"><a class="page-link">1</a></li>
                    <li (click)="isSecondPage()" class="page-item"><a class="page-link">2</a></li>
                    <li (click)="isThirdPage()" class="page-item"><a class="page-link">3</a></li>
                    <li (click)="isFourthPage()" class="page-item"><a class="page-link">4</a></li>
                </ul>
            </nav>
        </tbody>
    </table>
</div>