<div class="container">
    <h2>Atualizar Usuario</h2>
    <form>
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Sobrenome</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Trabalho</label>
            <input type="text" class="form-control">
        </div>
        <input type="submit" class="btn btn-primary" value="Atualizar">
    </form>
</div>