<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">E-mal</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of dataUser">
                <th scope="row">{{ data.id }}</th>
                <td>{{ data.first_name}}</td>
                <td>{{ data.last_name }}</td>
                <td>{{ data.email}}</td>
                <td><button type="button" class="btn btn-primary" routerLink="/read/user/datails/{{data.id}}">Detalhes</button></td>
            </tr>
            <nav aria-label="Navegação de página exemplo">
                <ul class="pagination">
                    <li (click)="isFirstPage()" class="page-item"><a class="page-link">1</a></li>
                    <li (click)="isSecondPage()" class="page-item"><a class="page-link">2</a></li>
                    <li (click)="isThirdPage()" class="page-item"><a class="page-link">3</a></li>
                    <li (click)="isFourthPage()" class="page-item"><a class="page-link">4</a></li>
                </ul>
            </nav>
        </tbody>
    </table>
</div>