<div class="container">
    <h2>Detalhe Resource</h2>
    <table class="table border">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Ano</th>
                <th scope="col">Color</th>
                <th scope="col">Pantone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ dataresourceUser.id }}</th>
                <td>{{ dataresourceUser.name }}</td>
                <td>{{ dataresourceUser.year }}</td>
                <td>{{ dataresourceUser.color }}</td>
                <td>{{ dataresourceUser.pantone_value }}</td>
            </tr>
        </tbody>
    </table>
</div>
